*{
    padding: 0;
    margin: 0;
}
.menu{
    padding:20px;
    text-align: right;
    line-height:10px;
    word-spacing: 10px;
}
.menu a{
    text-decoration:none;
    font-size:15px;
    font-family: arial;
    color:#1e1e1e;
}
.menu a:hover{
    color:blueviolet;
}

.menucnt a{
    display:flex;
    padding:15px;
    text-decoration:none;
    font-size:20px;
    font-family: arial;
    color:#0f0f0f;
}
.menucnt a:hover{
    color:blueviolet;
}
.top{
    font-size: larger;
    color:blue;
}
.top1{
    font-size: larger;
    color:blue;
    margin-left:200px;
}
.box{
    display:flex;
    justify-content: space-between;
    border-radius:10px;
}
.content{
    width:98%;
    height:360px;
    background-color:rgb(255, 187, 0);
    margin-left:1%;
}
.title{
    padding:5px;
}
table{
    width:100%;
    font-size: larger;
    text-align: center;
}
table, th, td{
    border:2px solid #000;
    border-collapse:collapse;
}
th, td{
    padding: 17px;
}

tr:nth-child(even){
    background-color: #BEDDBE;
}